@import "dark"
@import "~bulma/sass/utilities/derived-variables"

$body-background-color: $scheme-main-ter

.tag:not(body)
	@each $name, $pair in $colors
		$color: nth($pair, 1)
		&.is-#{$name}
			border-width: 1px
			border-style: solid
			border-color: $color


@import "~bulma"
@import "~buefy/src/scss/buefy"
